/* About page client section style */

.about-clients {
  background-color: #012f34;
  width: 100%;
  height: 437px;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
/* About page client section patern image */

.about-clients__img {
  width: 200px;
  height: 200px;
  position: absolute;
}
/* About page client section header */

.about-clients__header > h2 {
  box-sizing: border-box;
  margin: auto;
  color: #fff;
  text-align: center;
  font-family: Livvic;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}
/* About page client section logos list */

.about-clients__content {
  height: 100%;
  margin-top: 140px;
}

.about-clients__logos {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  list-style-type: none;
  margin-top: 50px;
}
/* About page client section logos list items */

.about-clients__logo {
  width: 165px;
  height: 28px;
  margin: auto;
}
/* For tablets */

@media (max-width: 769px) {
  .about-clients {
    width: 768px;
    height: 308px;
  }
  .about-clients__content {
    margin: 10px;
  }
  .about-clients__logo {
    height: 17px;
    width: 107px;
  }
  .about-clients__img {
    top: -100px;
  }
  .about-clients__header {
    margin-top: 100px;
    margin-left: 155px;
    height: 32px;
    width: 457px;
    font-size: 32px;
  }
}

/* For mobile */
@media (max-width: 376px) {
  .about-clients {
    width: 375px;
    height: 632px;
  }
  .about-clients__header {
    margin: 0 24px;
  }
  .about-clients__header > h2 {
    width: 327px;
    height: 32px;
    font-size: 32px;
    margin: 0 24px;
  }
  .about-clients__content {
    margin-top: 88px;
  }
  .about-clients__img {
    top: -100px;
    left: -100px;
  }
  .about-clients__logos {
    display: block;
    margin: auto;
    padding-left: 0;
    text-align: center;
  }
  .about-clients__logo {
    margin: 26px;
    height: 24px;
    width: 147px;
  }
}

.about-clients__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
