/* Pasikartojantys stiliai naudojami per kelis dokumentus */
@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@400;600;700;900&display=swap');

/* Color variables */
:root{
    /* Primary Colors */
    --color-midnight-green--primary: #014E56;
    --color-light-coral--primary: #F67E7E;
    --color-white--primary: #FFFFFF;
  
    /* Secondary Colors */
    --color-rapture-blue--secondary: #79C8C7;
    --color-police-blue--secondary: #2C6269;
    --color-deep-jungle-green--secondary: #004047;
    --color-sacramento-state-green--secondary: #012F34;
    --color-dark-green--secondary: #002529;
}

body {
  font-family: 'Livvic', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: #000; 
}

.h1--lg {
  font-size: 100px;
  line-height: 100px;
  font-weight: 700; 
}

.h1--sm {
  font-size: 64px;
  line-height: 56px;
  font-weight: 700;
}

h2 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}

.body--primary {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.body--secondary {
  font-size: 15px;
  line-height: 25px;
  font-weight: 600;
}

.btn {
  /* width: 153px; SUBM ir CONT mygtuku plociai nesutampa :( */
  height: 48px;
  border-radius: 25px;
  font-family: 'Livvic', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  background-color: transparent;
}

/* --- primary --- */

/* light theme */
.btn.primary-light {
  color: var(--color-white--primary); 
  border-color: var(--color-light-coral--primary);
}

.btn.primary-light:hover {
  background: var(--color-midnight-green--primary); 
  border-color: var(--color-midnight-green--primary);
}

.btn.primary-light:disabled {
  background: rgba(246, 126, 126, 0.5);
  color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}

/* dark theme */
.btn.primary-dark {
  color: var(--color-white--primary); 
  border-color: var(--color-midnight-green--primary);
}

.btn.primary-dark:hover {
  color: var(--color-white--primary);
  border-color: var(--color-light-coral--primary);
}

.btn.primary-dark:disabled {
  background: rgba(1, 78, 86, 0.5);
  color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}

/* --- secondary --- */

.btn.secondary-light {
  color: var(--color-dark-green--secondary); 
  border-color: var(--color-rapture-blue--secondary);
}

.btn.secondary-light:hover {
  color: var(--color-white--primary);
  border-color: var(--color-police-blue--secondary);
}

.btn.secondary-light:disabled {
  color: rgba(0, 37, 41, 0.5);
  cursor: not-allowed;
}


.btn.secondary-dark {
  color: var(--color-white--primary);
  border-color: var(--color-sacramento-state-green--secondary);
}

.btn.secondary-dark:hover {
  color: var(--color-dark-green--secondary);
  border-color: var(--color-rapture-blue--secondary);
}

.btn.secondary-dark:disabled {
  background: rgba(1, 47, 52, 0.5);
  color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}
