/* Pasikartojantys stiliai naudojami per kelis dokumentus */
@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@400;600;700;900&display=swap');

/* Color variables */
:root{
  /* Primary */
  --mid-green--primary: #014E56;
  --l-coral--primary: #F67E7E;
  --white--primary: #FFFFFF;

  /* Secondary */
  --rap-blue--sec: #2C6269;
  --pol-blue--sec: #004047;
  --d-jungle-green--sec: #004047;
  --sac-st-green--sec: #012F34;
  --dark-green--sec: #002529;
}

body {
  font-family: 'Livvic', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: #000; 
}

.h1--lg {
  font-size: 100px;
  line-height: 100px;
  font-weight: 700; 
}

.h1--sm {
  font-size: 64px;
  line-height: 56px;
  font-weight: 700;
}

h2 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}

.body--primary {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.body--secondary {
  font-size: 15px;
  line-height: 25px;
  font-weight: 600;
}

.btn {
  /* width: 153px; SUBM ir CONT mygtuku plociai nesutampa :( */
  height: 48px;
  border-radius: 25px;
  font-family: 'Livvic', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  background-color: transparent;
}

/* --- primary --- */

/* light theme */
.btn.primary-light {
  color: #FFFFFF; 
  border-color: #F67E7E;
}

.btn.primary-light:hover {
  background: #014E56; 
  border-color: #014E56;
}

.btn.primary-light:disabled {
  background: rgba(246, 126, 126, 0.5);
  color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}

/* dark theme */
.btn.primary-dark {
  color: #FFFFFF; 
  border-color: #014E56;
}

.btn.primary-dark:hover {
  color: #FFFFFF;
  border-color: #F67E7E;
}

.btn.primary-dark:disabled {
  background: rgba(1, 78, 86, 0.5);
  color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}

/* --- secondary --- */

.btn.secondary-light {
  color: #002529; 
  border-color: #79C8C7;
}

.btn.secondary-light:hover {
  color: #FFFFFF;
  border-color: #2C6269;
}

.btn.secondary-light:disabled {
  color: rgba(0, 37, 41, 0.5);
  cursor: not-allowed;
}


.btn.secondary-dark {
  color: #FFFFFF;
  border-color: #012F34;
}

.btn.secondary-dark:hover {
  color: #002529;
  border-color: #79C8C7;
}

.btn.secondary-dark:disabled {
  background: rgba(1, 47, 52, 0.5);
  color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}
