html,
body,
main {
    height: 100vh;
    background: #014e56;
}

/* Container for contact headings and form */
.contact {
    display: flex;
    position: relative;
    justify-content: space-around;
    /* height: 100%; */
    overflow: hidden;
    padding: 10% 165px 0;
}

/* Contact form */
.contact__form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

/* Text of contact container */
.contact__info {
    flex-grow: 1;
    width: 100%;
}

/* Both images */
.pattern-img {
    position: absolute;
}

/* Right image */
.contact__pattern--right {
    margin-top: 4px;
    top: 0;
    left: 0;
    transform: translateX(-50%);
}

/* Left image */
.contact__pattern--left {
    right: 0;
    bottom: 0;
    transform: translateX(50%);
}

/* Headings underneath "ask us about" */
/* "Contact" heading */
.contact__ask-about__item > h3,
.contact__heading {
    color: var(--color-white--primary);
}

/* Heading "ask us about" */
.contact__subheading {
    color: var(--color-light-coral--primary);
    font-size: 32px;
    margin-bottom: 32px;
    margin-top: 16px;
}

/* Container for imgs and text */
.contact__ask-about {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Container for icon and heading */
.contact__ask-about__item {
    display: flex;
    align-items: center;
    gap: 23px;
}

/* Icons underneath "ask us about" sect */
.contact__ask-about-icon {
    width: 72px;
    height: 72px;
}

/* Input fields except button */
.contact__form > input[type="text"],
.contact__form > input[type="email"],
.contact__form > textarea {
    border: none;
    background-color: #014e56;
    border-bottom: 1px solid #fff;
    margin-top: 24px;
    color: var(--color-white--primary);
    letter-spacing: -0.115px;
    width: 100%;
    padding-left: 14px;
    padding-bottom: 16px;
    outline: none;
    cursor: pointer;
    resize: none;
}

/* Input fields on focus */
.contact__form > input[type="text"]:focus,
.contact__form > textarea:focus {
    outline: none;
    border-bottom: 1px solid #79c8c7;
}

/* Needed to change placeholder color with a variable */
/* By setting --c to other value */
:root {
    --c: --color-white--primary;
}

/* Input fields's place holder value styles */
.contact__form > input[type="text"]::placeholder,
.contact__form > input[type="email"]::placeholder,
.contact__form > textarea::placeholder {
    color: var(--c, --color-white--primary);
    opacity: 0.6;
}

/* Warning message underneath fields */
.warning-message {
    display: none;
    color: var(--color-light-coral--primary);
    font-size: 10px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    padding-top: 14px;
    padding-left: 14px;
    text-decoration: none;
}

/* submit button */
.contact__form > [type="submit"] {
    width: 123px;
    margin-top: 24px;
    cursor: pointer;
}

/* Desktop view */
@media (min-width: 769px) {
    main {
        display: flex;
        flex-direction: column;
    }
    .contact{
        flex-grow: 1;
        padding-left: 165px;
        padding-top: 0px;
        padding-right: 163px;
        /* padding-bottom: 3px; */
    }
    .contact__info,
    .contact__form{
        height: 100%;
        height: 421px;
        /* padding-bottom: 11%; */
    }
    .contact__info{
        padding-top: 22px;
    } 
    .contact__subheading{
        margin-top: 38px;
    }
    .contact__ask-about h3{
        padding-top: 2px;
    }
    /* First icon - person */
    .contact__ask-about__item:first-child .contact__ask-about-icon{
        padding-left: 7px;
    }
    .contact__form{
        position: relative;
        gap: 24px;
        margin-left: 27px;
        padding-left: 3px;
    }
    /* Input fields except button */
    .contact__form > input[type="text"],
    .contact__form > input[type="email"],
    .contact__form > textarea {
        margin-top: 0;
        padding-left: 14px;
        padding-bottom: 2.95%;
    }
    .contact__form > textarea{
        padding-bottom: 33px;
    }
    .contact__form > [type="submit"] {
        margin:0;
        /* margin-bottom: 23.5%; */
        position: absolute;
        left: 1px;
        bottom:0;
    }
    .contact__pattern--left {
        bottom: 1px;
        transform: translateX(50.3%);
    }
}

/* Tablet view */
@media (min-width: 376px) and (max-width: 768px) {
    main {
        height: 1475px;
    }
    .contact {
        flex-direction: column;
        padding: 7px 129px 115px 115px;
        gap: 40px;
        height: 987px;
    }
    .contact__heading {
        padding-left: 3px;
    }
    /* Right image */
    .contact__pattern--right {
        left: 0;
        top: 0;
        transform: translateX(-50%);
    }

    /* Left image */
    .contact__pattern--left {
        transform: translateX(50%) translateY(1%);
    }

    .contact__info {
        width: 515px;
        height: 384px;
        text-align: center;
        flex-grow: 0;
        margin-left: 12px;
    }

    /* Person img little bit to the right */
    .contact__ask-about__item:first-child img {
        padding-left: 7px;
    }

    .contact__form {
        width: 103%;
        position: relative;
    }

    /* Heading "ask us about" */
    .contact__subheading {
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .contact__form > textarea {
        margin-top: 25px;
        padding-bottom: 32px;
    }
    /* submit button */
    .contact__form > [type="submit"] {
        position: absolute;
        bottom: -3px;
        left: -2px;
    }
}

/* Mobile view */
@media (max-width: 375px) {
    main {
        overflow: hidden;
    }
    .contact {
        padding: 0;
        flex-direction: column;
        gap: 0;
        align-items: center;
        text-align: center;
        height: 1006px;
    }
    .contact__info {
        width: 375px;
        margin: 0;
        flex-grow: 1;
        height: 304px;
    }
    .contact__heading {
        font-size: 40px;
        line-height: 40px; /* 100% */
    }
    .contact__subheading {
        margin-top: 16px;
        margin-bottom: 40px;
    }
    .contact__ask-about {
        text-align: left;
        gap: 24px;
    }
    .contact__ask-about__item {
        padding-left: 24px;
        padding-right: 24px;
    }
    .contact__ask-about h3 {
        width: 232px;
    }

    .contact__pattern--right {
        display: none;
    }
    /* Left image */
    .contact__pattern--left {
        transform: translateX(50%) translateY(50%);
    }
    .contact__form {
        width: 325px;
        align-items: start;
        position: static;
    }
    /* submit button */
    .contact__form > [type="submit"] {
        /* margin: 0; */
        position: static;
    }
}
