/* Home page header style*/
header {
  background-color: var(--color-midnight-green--primary);
}

.header__primary {
  display: inline-block;
}

/* Home page header logo*/
.header__logo {
  width: 160px;
  height: 40px;
  margin: 40px 60px 40px 165px;
}

/* Home page header navigation */
.header__link {
  position: relative;
  color: var(--color-white--primary);
  text-decoration: none;
  margin: 20px;
  bottom: 50px;
}
.header__link:hover {
  color: var(--color-light-coral--primary);
}

/* home page header "contact us" button */
.header__secondary {
  display: block;
  float: right;
}

.header__btn {
    position: relative;
    top: 45px;
    right: 145px;
    width: 153px;
    padding: 9px 33px 11px 32px;
    display: block;
    white-space: nowrap;
}

/* Hamburger menu icon for mobile*/
.header__hamburger {
  display: none;
  position: absolute;
  border: 2px;
  width: 20px;
  height: 17px;
  top: 75px;
  right: 40px;
  cursor: pointer;
}

/* Side menu for mobile */
aside {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 255px;
  z-index: 999;
  background-color: var(--color-police-blue--secondary);
  display: none;
}
/* Container holding sidebar__content and image */
/* Needed for image proper styling */
.sidebar__container{
  position: relative;
  height: 100vh;
}

/* Container holding buttons and anchors */
.sidebar__content{
  height: 50%;
  display: flex;
  flex-direction: column;
  padding: 56px 25px 0 48px;
  padding-top: 56px;
}

/* Anchor tags in sidebar */
.sidebar__link {
  color: var(--color-white--primary);
  /* Overwrite header__link styles */
  position:static;
  margin: 0;
}

/* Home button */
.sidebar__content a:first-of-type {
  margin-bottom: 24px;
}

/* Contact us side bar button */
.sidebar__content a:last-child {
  display: block;
  width: 159px;
  margin-top: 36px;
  padding-top: 6px;
}

/* Pattern image at the bottom of sidebar */
.sidebar__logo {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(50%);
}

/* Side menu close icon*/
.sidebar__close {
  display: flex;
  justify-content: end;
  cursor: pointer;
  margin-bottom: 39px;
}

/* Desktop view */
@media (min-width: 1440px){
  header{
    height: 117px;
    margin-top: 37px;
    margin-bottom: 87px;
    display: flex;
    padding-left: 11.5%;
    padding-right: 11.5%;
    align-items: center;
    justify-content: space-between;
  }

  .header__primary{
    display: flex;
    flex-grow: 1;
  }

  .header__logo{
    margin: 0;
    margin-top: 3px;
    margin-right: 80px;
  }

  /* home page header "contact us" button */
  .header__secondary {
    display: block;
  }

  .header__link{
    position: static;
    margin: 0;
    display: flex;
    align-items: center;
    padding-top: 5px;
  }

  .header__primary:first-child .header__link{
    margin-right: 41px;
  }

  .header__btn {
      position: static;
      width: 153px;
      padding-left: 30px;
      padding-top: 8px;
      margin-top: 3px;
      display: block;
  }

}

/* Tablet view */
@media (min-width: 767px) and (max-width: 1439px) {
    header{
        display: flex;
        height: 112px;
        align-items: end;
        margin-bottom: 105px;
    }
    
    .header__primary{
        flex-grow: 1;
        display: flex;
        padding-left: 39px;
        padding-bottom: 8px;
    }
    .header__primary > *{
        margin: 0;
    }
    .header__logo{
        width: 128px;
        height: 32px;
        margin-right: 48px !important;
        margin: 0;
    }
    .header__secondary{
       flex-grow: 1; 
       display: flex;
       justify-content: center;
       margin-left: 60px;
    }
    .header__btn {
        position: static;
        padding-left: 30px;
    }
    .header__link{
        position: static;
        margin-top: 5px;
        padding-right: 40px;
    }
}

/* Mobile view */
@media (max-width: 767px) and (min-width: 375px) {
  .header{
    height: 100px;
    position: static;
    overflow: hidden;
  }
  .header__primary{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    padding-top: 27px;
  }
  .header__logo {
    width: 128px;
    height: 32px;
    margin: 0;
    display: block;
  }
  .header__hamburger {
    display: block;
    position: static;
  }

  .hideOnMobile {
    display: none;
  }
}